ul{
list-style-type:none;
  margin: 0;
padding:0;
overflow:hidden;
  background-color:#a4a6a5;
  
}
li{

float:left;

}

li a{
display:block;
  color:#000000;
padding: 14px 16px;
  text-decoration:none;
 text-align:center;
  border-right:2px solid black;
}

li a:hover{
background-color:#121212;
 
}